html, body, input,p, h1,button,label,section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}
body{
    padding: 10px;
}
main{
    padding: 15px;
    
}
h1{
    font-size: 25px;
    padding: 5px;
    text-align: center;
   
}
section {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
    
}
form h2{
    margin: 0;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    color: #ffff;
    background-color: blue;
}
label{
    background-color:rgb(218, 233, 253);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px;
    text-align: center;
}
input{
    color: black;
    text-align: center;
    height: 30px;
    border-radius: 8px;
    background-color: rgba(163, 195, 253, 0.781);
    border: solid 1px rgb(221, 213, 215);
}
input:hover{
    background-color: rgb(0, 48, 94);
    color: #ffff;
}
input:focus{
    outline: 0;
}
button#button{
    margin-top: 10px;
    width: 100%;
    float:right;
    border: solid 1px black;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(54, 19, 252);
    color: #ffff;
}
#button:active{
    background-color: rgb(178, 178, 252);
    color: black;
}
@media screen and (min-width:768px){
    section{
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    section h1{
        text-align: center;
    }
    button{
        margin-top: 10px;
    }
    section form{
        display: flex;
        flex-direction: column;
    }
    
}